@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
}

/*body font-family*/
body {
    font-family: Arial, Helvetica, sans-serif;
}

/*video*/
#videoHome {
    width: 400px;
}

/*ticketTable colors*/
tr>th {
    background-color: #FFC72B;
}

td:first-child {
    background: #FF0
}

tr:nth-child(even) {
    background: #CFF
}

tr:nth-child(odd) {
    background: #FFF
}

#titleTable {
    text-transform: uppercase;
    font-family: 'Notable', sans-serif;
}

p:first-letter {
    font-size: 120%;
    color: #096b00;
}

@media (min-width: 1280px) {

    .imgIndex {
        width: 150px;
        float: right;
        clear: both;
        position: relative;
    }

    #website-logo {
        width: 100px;
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 1;
    }

    #indexHeader {
        order: 1;
        flex-basis: 100%;
    }

    #navigation {
        order: 2;
        min-width: 100%;
        background-color: #94c9fa;
    }

    .video {
        order: 3;
        flex-basis: 100%;
        background-color: #dddfff;
    }

    #articleProduct1,
    #articleProduct2,
    #articleProduct3 {
        flex-grow: 0;
        flex-basis: 75.5%;
    }

    #articleProduct1 {
        order: 4;
    }

    #articleProduct2 {
        order: 6;
    }

    #articleProduct3 {
        order: 7;
    }

    .asideIndex {
        display: flex;
        padding: 5%;
        right: 0;
        height: 100%;
        top: 438px;
        border: 1px solid black;
        background-color: #ddeeff;
        position: absolute;
    }

    #footerHome {
        flex-basis: 65%;
        order: 9;
        border: 1em black;
    }

    #cookieHome {
        flex-basis: 24.5%;
        background-color: #ff6600;
        position: fixed;
        right: 0;
        bottom: 0;
        color: #FFF;
        background-color: #FA0;
        opacity: 50%;
        z-index: 9999;
    }


    /*navigation*/
    #grid-tickets {
        display: grid;
        grid-template-columns: 41.6% 33.9% 24.5%;
        grid-gap: 10px;
    }

    #grid-contact {
        display: grid;
        grid-template-columns: 37.5% 30.6% 32%;
        grid-gap: 10px;
    }

    #grid-container {
        display: grid;
        grid-template-columns: 41.6% 33.9% 24.5%;
        grid-gap: 10px;
    }

    .nav-container {
        grid-column: 1 / 4;
        width: 100%;
        background-color: #94c9fa;
    }

    #nav-toggle,
    .burger-menu {
        display: none;
    }

    .burger-menu {
        content: '&#9776';
    }

    #navigation ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    a:hover {
        background-color: #eeddee;
    }

    a:active {
        background-color: blueviolet;
    }

    #navigation li {
        float: left;
    }

    #navigation li a {
        display: block;
        padding: 8px;
    }

    #hamburger-menu {
        display: none;
    }

    /*images*/
    #grid-container img {
        width: 25%;
    }

    #grid-tickets img {
        width: 55%;
    }

    #grid-contact img {
        width: 55%
    }

    #logo {
        grid-column: 1 / 4;
    }

    #website-title {
        grid-column: 1 / 4;
    }

    #payoff {
        grid-column: 1 / 4;
    }


    /*Best Destination PC version*/
    #article1 {
        display: flex;
        align-items: center;
        grid-column: 2 / 3;
        grid-row: 5 / 11;
        background-color: #E8E7D2;
    }



    #article2 {
        display: flex;
        align-items: flex-start;
        grid-column: 1 / 2;
        grid-row: 5 / 7;
        background-color: #D2D5B8;
    }

    #article3 {
        display: flex;
        align-items: flex-end;
        grid-column: 3 / 4;
        grid-row: 5 / 8;
        background-color: #BDC2BB;
    }

    #article4 {
        display: flex;
        align-items: flex-end;
        grid-column: 3 / 4;
        grid-row: 8 / 11;
        background-color: #C9BA9B;
    }

    #article5 {
        display: flex;
        align-items: center;
        grid-column: 1 / 2;
        grid-row: 7 / 12;
        background-color: #BFC8D7;
    }

    #article6 {
        display: flex;
        grid-column: 2 / 4;
        grid-row: 11 / 12;
        background-color: #E2D2D2;
    }

    #aside {
        grid-column: 1 / 4;
        grid-row: 12 / 13;
        background-color: #A2B59F;
    }

    #product1 {
        grid-column: 1 / 2;
        grid-row: 13 / 14;
    }

    #product2 {
        grid-column: 2 / 3;
        grid-row: 13 / 14;
    }

    #product3 {
        grid-column: 3 / 4;
        grid-row: 13 / 14;
    }

    #footer {
        grid-column: 1 / 3;
        grid-row: 14 / 16;
    }

    #cookie {
        position: fixed;
        color: #FFF;
        opacity: 50%;
        background-color: #FA0;
        bottom: 0px;
        right: 0px;
        width: 24.5%;
        z-index: 9999;
    }

    /*Tickets PC version*/
    #articleTickets {
        grid-column: 1 / 4;
        line-height: normal;
        word-spacing: normal;
        text-indent: 10px;
    }

    #ticketTable {
        grid-column: 1 / 3;
        grid-row: 6 / 11;
    }

    /*a + (plus) element*/
    #ticketTable+p {
        background-color: #eeddee;
    }

    #asideTickets {
        grid-column: 3 / 4;
        grid-row: 6 / 7;
    }

    #ticketsproduct1 {
        grid-column: 3 / 4;
        grid-row: 7 / 8;
    }

    #ticketsproduct2 {
        grid-column: 3 / 4;
        grid-row: 8 / 9;
    }

    #ticketsproduct3 {
        grid-column: 3 / 4;
        grid-row: 9 / 10;
    }

    #footerInfoTable {
        grid-column: 1 / 3;
        grid-row: 11 / 12;
    }

    #ticketsfooter {
        grid-column: 1 / 3;
        grid-row: 12 / 14;
    }

    #ticketscookie {
        position: fixed;
        color: #FFF;
        opacity: 50%;
        background-color: #FA0;
        bottom: 0px;
        right: 0px;
        width: 24.5%;
        z-index: 9999;
    }

    /*Contact PC version*/
    #contactInfo {
        grid-column: 1 / 4;
    }

    .contactForm {
        grid-column: 1 / 3;
        grid-row: 6 / 11;
    }

    .contactForm fieldset {
        background-color: rgb(255, 199, 44);
        border: 4px;
        border-style: double;
        border-color: #096b00;
    }

    #asideContact {
        grid-column: 3 / 4;
        grid-row: 6 / 7;
    }

    #contactproduct1 {
        grid-column: 3 / 4;
        grid-row: 7 / 8;
    }

    #contactproduct2 {
        grid-column: 3 / 4;
        grid-row: 8 / 9;
    }

    #contactproduct3 {
        grid-column: 3 / 4;
        grid-row: 9 / 10;
    }

    #contactfooter {
        grid-column: 1 / 3;
        grid-row: 10 / 12;
    }

    #contactcookie {
        position: fixed;
        color: #FFF;
        opacity: 50%;
        background-color: #FA0;
        bottom: 0px;
        right: 0px;
        width: 32%;
        z-index: 9999;
    }
}

@media (min-width: 481px) and (max-width: 1179px) {

    /*INDEX*/
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        flex-direction: column;
        flex: 1;
    }

    #indexHeader {
        flex-basis: 100%;
        order: 1;
    }

    #website-logo {
        width: 100px;
    }

    #navigation {
        order: 2;
        width: 100%;
        background-color: #096b00;
    }

    #articleProduct1,
    #articleProduct2,
    #articleProduct3 {
        flex-basis: 100%;
        flex-grow: 0;
        border: 1px solid black;
        background-color: #ddeeff;
    }

    .video {
        order: 4;
    }

    #articleProduct1 {
        order: 7;
    }

    #articleProduct2 {
        order: 6;
    }

    #articleProduct3 {
        order: 5;
    }

    .asideIndex {
        order: 3;
        padding: 5%;
        flex-grow: 0;
        flex-shrink: 0;
        background-color: #ddffdd;
        width: 100%;
        border: 1px solid black;
    }

    .imgIndex {
        height: 150px;
        width: 300px;
    }

    #footerHome {
        order: 9;
        border: 1px solid black;
    }

    #cookieHome {
        position: fixed;
        color: #FFF;
        opacity: 50%;
        background-color: #FA0;
        bottom: 0px;
        right: 0px;
        width: 26.8%;
        z-index: 9999;
    }

    /*navigation*/
    #grid-tickets {
        display: grid;
        grid-template-columns: 50.3% 49.7%;
        grid-gap: 10px;
    }

    #grid-container {
        display: grid;
        grid-template-columns: 49.1% 50.9%;
        grid-gap: 10px;
    }

    #grid-contact {
        display: grid;
        grid-template-columns: 73% 27%;
        grid-gap: 10px;
    }

    .nav-container {
        grid-column: 1 / 3;
        background-color: #096b00;
    }

    #nav-toggle,
    .burger-menu {
        display: none;
    }

    #navigation ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    #navigation li {
        float: left;
    }

    #navigation li a {
        display: block;
        padding: 8px;
    }

    a:hover {
        background-color: #eeddee;
    }

    a:active {
        background-color: blueviolet;
    }

    /*images*/
    #grid-container img {
        width: 25%;
    }

    #grid-tickets img {
        width: 55%;
    }

    #grid-contact img {
        width: 55%
    }

    #logo {
        grid-column: 1 / 3;
    }

    #website-title {
        grid-column: 1 / 3;
    }

    #payoff {
        grid-column: 1 / 3;
    }

    .menu {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        list-style: none;
        background: black;
        display: flex;

        flex-direction: column;
        transform: translateY(-100%);
        transition: transform 0.2s ease;
    }

    .close {
        position: absolute;
        border: none;
        color: white;
        cursor: pointer;
        top: 1rem;
        right: 1rem;
    }

    .menu:target {
        transform: translateY(0);
    }

    /*bestdestination.html TABLET*/
    #article1 {
        grid-column: 1 / 2;
        grid-row: 5 / 7;
        background-color: #E8E7D2;
    }

    #article2 {
        display: flex;
        align-items: baseline;
        grid-column: 2 / 3;
        grid-row: 5 / 8;
        background-color: #D2D5B8;
    }

    #article3 {
        align-items: center;
        grid-column: 1 / 2;
        grid-row: 7 / 11;
        background-color: #BDC2BB;
    }

    #article4 {
        display: none;
    }

    #article5 {
        align-items: center;
        grid-column: 2 / 3;
        grid-row: 8 / 11;
        background-color: #BFC8D7;
    }

    #article6 {
        grid-column: 1 / 3;
        grid-row: 11 / 13;
        background-color: #E2D2D2;
    }

    #aside {
        grid-column: 1 / 3;
        grid-row: 13 / 14;
        background-color: #A2B59F;
    }

    #product1 {
        grid-column: 1 / 2;
        grid-row: 14 / 15;
    }

    #product2 {
        grid-column: 2 / 3;
        grid-row: 14 / 15;
    }

    #product3 {
        display: none;
    }

    #japanProduct {
        display: none;
    }

    #footer {
        grid-column: 1 / 2;
        grid-row: 15 / 17;
    }

    #cookie {
        position: fixed;
        color: #FFF;
        opacity: 50%;
        background-color: #FA0;
        bottom: 0px;
        right: 0px;
        width: 50.9%;
        z-index: 9999;
    }

    .hamburger {
        display: none;
    }

    /*tickets.html TABLET*/
    #articleTickets {
        grid-column: 1 / 3;
        line-height: normal;
        word-spacing: normal;
        letter-spacing: normal;
        text-indent: 10px;
        padding: 5px;
    }

    #ticketTable {
        grid-column: 1 / 3;
        grid-row: 6 / 11;
    }

    #footerInfoTable {
        grid-column: 1 / 3;
        grid-row: 11 / 12;
    }

    #asideTickets {
        grid-column: 1 / 3;
        grid-row: 12 / 13;
    }

    #ticketsproduct1 {
        display: none;
    }

    #ticketsproduct2 {
        grid-column: 1 / 2;
        grid-row: 13 / 14;
    }

    #ticketsproduct3 {
        grid-column: 2 / 3;
        grid-row: 13 / 14;
    }

    #ticketsfooter {
        grid-column: 1 / 2;
        grid-row: 14 / 16;
    }

    #ticketscookie {
        position: fixed;
        color: #FFF;
        opacity: 50%;
        background-color: #FA0;
        bottom: 0px;
        right: 0px;
        width: 49.7%;
        z-index: 9999;
    }

    /*contact.html TABLET*/
    #contactInfo {
        grid-column: 1 / 3;
    }

    .contactForm {
        grid-column: 1 / 2;
        grid-row: 6 / 12;
    }

    .contactForm fieldset {
        background-color: rgb(255, 199, 44);
        /* color: ymck (0%, 22%, 83%, 0%); */
        border-width: 4px;
        border-style: double;
        border-color: #096b00;
    }

    #asideContact {
        grid-column: 2 / 3;
        grid-row: 6 / 7;
    }

    #contactproduct1 {
        grid-column: 2 / 3;
        grid-row: 7 / 8;
    }

    #contactproduct2 {
        grid-column: 2 / 3;
        grid-row: 8 / 9;
    }

    #contactproduct3 {
        grid-column: 2 / 3;
        grid-row: 9 / 10;
    }

    #contactfooter {
        grid-column: 1 / 2;
        grid-row: 12 / 14;
    }

    #contactcookie {
        position: fixed;
        color: #FFF;
        opacity: 50%;
        background-color: #FA0;
        bottom: 0px;
        right: 0px;
        width: 24.3%;
        z-index: 9999;
    }
}

@media (max-width: 480px) {

    /*INDEX*/
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        flex: 1;
    }

    #indexHeader {
        flex-basis: 65%;
        order: 1;
    }

    #website-logo {
        display: none;
    }

    #navigation {
        order: 2;
        flex-basis: 35%;
        width: 30%;
    }

    .asideIndex {
        order: 3;
        min-width: 100%;
        padding: 5%;
        flex-grow: 0;
        flex-shrink: 0;
        border: 1px solid black;
        background-color: #dddeee;
    }

    .video {
        display: none;
    }

    #articleProduct1,
    #articleProduct2,
    #articleProduct3 {
        flex-basis: 100%;
        flex-grow: 0;
        padding: 20px;
    }

    #articleProduct1 {
        order: 7;
    }

    #articleProduct2 {
        order: 6;
    }

    #articleProduct3 {
        order: 5;
    }

    .imgIndex {
        display: block;
        height: 150px;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    #footerHome {
        order: 8;
        border: 1px solid black;
    }

    #cookieHome {
        position: fixed;
        color: #FFF;
        opacity: 50%;
        background-color: #FA0;
        bottom: 0px;
        right: 0px;
        width: 36%;
        z-index: 9999;
    }


    #grid-container {
        display: grid;
        grid-template-columns: 61.2% 38.8%;
        grid-gap: 10px;
    }

    #grid-tickets {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
    }

    #grid-contact {
        display: grid;
        grid-template-columns: 63.2% 46.8%;
        grid-gap: 10px;
    }

    /*images*/
    #grid-container img {
        width: 25%;
    }

    #grid-tickets img {
        width: 55%;
    }

    #grid-contact img {
        width: 35%
    }

    #website-logo {
        display: none;
    }

    #website-title {
        grid-column: 1 / 2;
    }

    #payoff {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #menu {
        display: none;
    }

    .burger-menu {
        display: inline-block;
        float: right;
    }

    #nav-toggle {
        display: none;
    }

    #nav-toggle:checked~#menu {
        display: inline-block;
    }

    /*bestdestination.html MOBILE*/
    #article1 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 30px;
        grid-column: 1 / 3;
        grid-row: 12 / 15;
        background-color: #E8E7D2;
    }

    #article2 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 30px;
        grid-column: 1 / 3;
        grid-row: 9 / 12;
        background-color: #D2D5B8;
    }

    #article3 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 30px;
        grid-column: 1 / 3;
        grid-row: 6 / 9;
        background-color: #BDC2BB;
    }

    #article4 {
        display: none;
    }

    #article5 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 30px;
        grid-column: 1 / 3;
        grid-row: 3 / 6;
        background-color: #BFC8D7;
    }

    #article6 {
        display: none;
    }

    #aside {
        grid-column: 1 / 3;
        grid-row: 15 / 16;
        background-color: #A2B59F;
    }

    #product1 {
        grid-column: 1 / 2;
        grid-row: 16 / 17;
    }

    #product2 {
        grid-column: 1 / 2;
        grid-row: 17 / 18;
    }

    #product3 {
        grid-column: 1 / 2;
        grid-row: 18 / 19;
    }

    #footer {
        grid-column: 1 / 2;
        grid-row: 19 / 21;
    }

    #cookie {
        position: fixed;
        color: #FFF;
        opacity: 50%;
        background-color: #FA0;
        bottom: 0px;
        right: 0px;
        width: 38.8%;
        z-index: 9999;
    }

    /*tickets.html MOBILE*/
    #articleTickets {
        display: none;
    }

    #ticketTable {
        grid-column: 1 / 3;
        grid-row: 3 / 8;
        font-size: 10px;
    }

    #footerInfoTable {
        grid-column: 1 / 3;
        grid-row: 8 / 9;
    }

    #asideTickets {
        grid-column: 1 / 2;
        grid-row: 9 / 10;
    }

    #ticketsproduct1 {
        grid-column: 1 / 2;
        grid-row: 10 / 11;
    }

    #ticketsproduct2 {
        grid-column: 1 / 2;
        grid-row: 11 / 12;
    }

    #ticketsproduct3 {
        grid-column: 1 / 2;
        grid-row: 12 / 13;
    }

    #ticketsfooter {
        grid-column: 1 / 2;
        grid-row: 13 / 15;
    }

    #ticketscookie {
        position: fixed;
        color: #FFF;
        opacity: 50%;
        background-color: #FA0;
        bottom: 0px;
        right: 0px;
        width: 49.7%;
        z-index: 9999;
    }

    /*contact.html MOBILE*/
    #contactInfo {
        grid-column: 1 / 3;
    }

    .contactForm {
        grid-column: 1 / 3;
        grid-row: 4 / 9;
    }

    .contactForm fieldset {
        background-color: rgb(255, 199, 44);
        border: 4px;
        border-style: double;
        border-color: #096b00;
    }

    #asideContact {
        grid-column: 1 / 3;
        grid-row: 9 / 10;
    }

    #contactproduct1 {
        grid-column: 1 / 3;
        grid-row: 10 / 11;
    }

    #contactproduct2 {
        grid-column: 1 / 3;
        grid-row: 11 / 12;
    }

    #contactproduct3 {
        grid-column: 1 / 3;
        grid-row: 12 / 13;
    }

    #contactfooter {
        grid-column: 1 / 2;
        grid-row: 13 / 15;
    }

    #contactcookie {
        position: fixed;
        color: #FFF;
        opacity: 50%;
        background-color: #FA0;
        bottom: 0px;
        right: 0px;
        width: 36.8%;
        z-index: 9999;
    }
}