audio::-webkit-media-controls-timeline,
video::-webkit-media-controls-timeline 
{
    display: none;

}

@media screen and (min-width: 1280px) {
    /*navigation*/
    #grid-tickets
    {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px; 
    }
    #grid-container
    {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
    }
    .nav-container
    {
        grid-column: 1 / 4;
    }
    #nav-toggle, .burger-menu {
        display: none;
    }
    #navigation ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    #navigation li {
        float: left;
      }
      
    #navigation li a {
        display: block;
        padding: 8px;
        background-color: #94c9fa;
    }
    #hamburger-menu
    {
        display: none;
    }
    
    #grid-container img
    {
        max-width: 100px;
    }
    
    #logo
    {
        grid-column: 1 / 4;
    }
    #website-title
    {
        grid-column: 1 / 4;
    }
    #payoff
    {
        grid-column: 1 / 4;
    }
    

    /*Best Destination PC version*/
    #article1
    {
        grid-column: 2 / 3;
        grid-row: 5 / 11;
    }
    #article2
    {
        grid-column: 1 / 2;
        grid-row: 5 / 7;
    }
    #article3
    {
        grid-column: 3 / 4;
        grid-row: 5 / 8;
    }
    #article4
    {
        grid-column: 3 / 4;
        grid-row: 8 / 11;
    }
    #article5
    {
        grid-column: 1 / 2;
        grid-row: 7 / 12;
    }
    #article6
    {
        grid-column: 2 / 4;
        grid-row: 11 / 12;
    }
    #aside
    {
        grid-column: 1 / 4;
        grid-row: 12 / 13;
    }
    #product1
    {
        grid-column: 1 / 2;
        grid-row: 13 / 14;
    }
    #product2
    {
        grid-column: 2 / 3;
        grid-row: 13 / 14;
    }
    #product3
    {
        grid-column: 3 / 4;
        grid-row: 13 / 14;
    }
    #footer
    {
        grid-column: 1 / 3;
        grid-row: 14 / 16;
    }
    #cookie
    {
        grid-column: 3 / 4;
        grid-row: 14 / 16;
        position: sticky;
        color: #FFF;
        opacity: 50%;
        background-color: #FA0;
    }

    /*Tickets PC version*/
    #articleTickets
    {
        grid-column: 1 / 4;
    }
    #ticketTable
    {
        grid-column: 1 / 3;
        grid-row: 6 / 11;
    }
    #asideTickets
    {
        grid-column: 3 / 4;
        grid-row: 6 / 7;
    }
    #ticketsproduct1
    {
        grid-column: 3 / 4;
        grid-row: 7 / 8;
    }
    #ticketsproduct2
    {
        grid-column: 3 / 4;
        grid-row: 8 / 9;
    }
    #ticketsproduct3
    {
        grid-column: 3 / 4;
        grid-row: 9 / 10;
    }
    #footerInfoTable
    {
        grid-column: 1 / 3;
        grid-row: 11 / 12;
    }
    #ticketsfooter
    {
        grid-column: 1 / 3;
        grid-row: 12 / 14;
    }
    #ticketscookie
    {
        grid-column: 3 / 4;
        grid-row: 12 / 14;
        position: sticky;
        color: #FFF;
        opacity: 50%;
        background-color: #FA0;
    }
}

@media screen and (min-width: 481px) and (max-width: 1279px){
    /*navigation*/
    #grid-tickets
    {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px; 
    }
    #grid-container
    {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
    }
    .nav-container
    {
        grid-column: 1 / 3;
    }
    #nav-toggle, .burger-menu {
        display: none;
    }
    #navigation ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
      
    #navigation li {
        float: left;
    }
      
    #navigation li a {
        display: block;
        padding: 8px;
        background-color: #096b00;
    }
    
    #grid-container img
    {
        max-width: 100px;
    }
    #logo
    {
        grid-column: 1 / 3;
    }
    #website-title
    {
        grid-column: 1 / 3;
    }
    #payoff
    {
        grid-column: 1 / 3;
    }
    
    .menu {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        list-style: none;
        background: black;
        display: flex;
        
        flex-direction: column;
        transform: translateY(-100%);
        transition: transform 0.2s ease;
    }
    .close {
        position: absolute;
        border: none;
        color: white;
        cursor: pointer;
        top: 1rem;
        right: 1rem;
    }
    .menu:target {
        transform: translateY(0);
    }
    /*bestdestination.html TABLET*/
    #article1
    {
        grid-column: 1 / 2;
        grid-row: 5 / 7;
    }
    #article2
    {
        grid-column: 2 / 3;
        grid-row: 5 / 8;
    }
    #article3
    {
        grid-column: 1 / 2;
        grid-row: 7 / 11;
    }
    #article4
    {
        display: none;
    }
    #article5
    {
        grid-column: 2 / 3;
        grid-row: 8 / 11;
    }
    #article6
    {
        grid-column: 1 / 3;
        grid-row: 11 / 13;
    }
    #aside
    {
        grid-column: 1 / 3;
        grid-row: 13 / 14;
    }
    #product1
    {
        grid-column: 1 / 2;
        grid-row: 14 / 15;
    }
    #product2
    {
        grid-column: 2 / 3;
        grid-row: 14 / 15;
    }
    #product3
    {
        display: none;
    }
    #footer
    {
        grid-column: 1 / 2;
        grid-row: 15 / 17;
    }
    #cookie
    {
        grid-column: 2 / 3;
        grid-row: 15 / 17;
        position: sticky;
        color: #FFF;
        opacity: 50%;
        background-color: #FA0;
    }
    .hamburger {
        display: none;
    }

    /*tickets.html TABLET*/
    #articleTickets
    {
        grid-column: 1 / 3;
    }
    #ticketTable
    {
        grid-column: 1 / 3;
        grid-row: 6 / 11;
    }
    #footerInfoTable
    {
        grid-column: 1 / 3;
        grid-row: 11 / 12;
    }
    #asideTickets
    {
        grid-column: 1 / 3;
        grid-row: 12 / 13;
    }
    #ticketsproduct1
    {
        display: none;
    }
    #ticketsproduct2
    {
        grid-column: 1 / 2;
        grid-row: 13 / 14;
    }
    #ticketsproduct3
    {
        grid-column: 2 / 3;
        grid-row: 13 / 14;
    }
    #ticketsfooter
    {
        grid-column: 1 / 2;
        grid-row: 14 / 16;
    }
    
    #ticketscookie
    {
        grid-column: 2 / 3;
        grid-row: 14 / 16;
        position: sticky;
        color: #FFF;
        opacity: 50%;
        background-color: #FA0;
    }
}
@media screen and (max-width: 480px){

    #grid-container
    {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
    }
    #grid-tickets
    {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px; 
    }
    #grid-container img
    {
        max-width: 300px;
    }

    #website-logo
    {
        display: none;
    }
    #website-title
    {
        grid-column: 1 / 2;
    }
    #payoff
    {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    #menu {
        display: none;
    }

    .burger-menu {
        display: inline-block;
        float: right;
    }

    #nav-toggle {
        display: none;
    }

    #nav-toggle:checked ~ #menu {
        display: inline-block;
    }

    /*bestdestination.html MOBILE*/
    #article1
    {
        grid-column: 1 / 3;
        grid-row: 12 / 15;
    }
    #article2
    {
        grid-column: 1 / 3;
        grid-row: 9 / 12;
    }
    #article3
    {
        grid-column: 1 / 2;
        grid-row: 6 / 9;
    }
    #article4
    {
        display: none;
    }
    #article5
    {
        grid-column: 1 / 3;
        grid-row: 3 / 6;
    }
    #article6
    {
        display: none;
    }
    #aside
    {
        grid-column: 1 / 3;
        grid-row: 15 / 16;
    }
    #product1
    {
        grid-column: 1 / 3;
        grid-row: 16 / 17;
    }
    #product2
    {
        grid-column: 1 / 3;
        grid-row: 17 / 18;
    }
    #product3
    {
        grid-column: 1 / 3;
        grid-row: 18 / 19;
    }
    #footer
    {
        grid-column: 1 / 2;
        grid-row: 19 / 21;
    }
    #cookie
    {
        grid-column: 2 / 3;
        grid-row: 19 / 21;
        position: sticky;
        color: #FFF;
        opacity: 50%;
        background-color: #FA0;
    }  

    /*tickets.html MOBILE*/
    #articleTickets
    {
        display: none;
    }
    #ticketTable
    {
        grid-column: 1 / 3;
        grid-row: 3 / 8;
    }
    #footerInfoTable
    {
        grid-column: 1 / 3;
        grid-row: 8 / 9;
    }
    #asideTickets
    {
        grid-column: 1 / 3;
        grid-row: 9 / 10;
    }
    #ticketsproduct1
    {
        grid-column: 1 / 3;
        grid-row: 10 / 11;
    }
    #ticketsproduct2
    {
        grid-column: 1 / 3;
        grid-row: 11 / 12;
    }
    #ticketsproduct3
    {
        grid-column: 1 / 3;
        grid-row: 12 / 13;
    }
    #ticketsfooter
    {
        grid-column: 1 / 2;
        grid-row: 13 / 15;
    }
    #ticketscookie
    {
        grid-column: 2 / 3;
        grid-row: 13 / 15;
        position: sticky;
        color: #FFF;
        opacity: 50%;
        background-color: #FA0;
    }

}

